.cartItem-card{
    width: 100%;
    @include flex(row, space-evenly, center);
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        flex: 2;
    }

    .title, .price, .quantity{
        flex: 1;
        padding: 0 1rem;
        text-align: center;
    }
}

.quantity button{
    margin: 1rem;
}