.cart-container{
    min-height: 100vh;
    @include flex(column, flex-start, center);
    h1{
        padding: 5rem;
    }
}

.cart-grid{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
    gap: 1rem;
}